extends layout

include mixins/_head
include mixins/_head-end

block head 
  +head()
  +headEnd()

block content
  main.main__vertical
    .closing--wrapper
      h1.title.title__center.title__light= error
      div
        p.text__dark A <span class="text__bold">leadó</span> #{actualIncome} Ft
        p.text__dark A <span class="text__bold">borravaló</span> #{tips} Ft
        p.text__dark A napi váltó #{openingAmountNum} Ft volt 
        p.text__dark A napi váltóból <span class="text__bold">#{missingOpeningAmount} Ft hiányzik</span>
        p.text__dark A leadóból <span class="text__bold">#{missingIncome} Ft hiányzik</span>
      div 
        a.btn.btn__primary.btn__autoWidth.margin-top(href="/YMPrgznAHYhnXFdy") Új elszámolás készítése
        