doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    script(src="https://kit.fontawesome.com/af9fa598da.js", crossorigin="anonymous")
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container 
      block header
        header
          img.logo(src="/images/icons/noborder_bagolypub_logo_sötét-25.svg" alt="logo")
          nav.nav
            each item in h.menu
              a.nav-item(href=item.slug) #{item.title}
          .nav-menu 
            i.fa.fa-bars
      block messages
      if locals.flashes
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message 
                button.flash__remove(onClick="this.parentElement.remove()") &times;
      main
        block content
      footer
        p.footer-text © 2024 Copyright <span class="highlighted-text"> Bagoly Pub </span> / Design by <span class="highlighted-text"> Simple Works </span>


    block scripts
      script(src="/dist/App.bundle.js")
