doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    script(src="https://kit.fontawesome.com/af9fa598da.js", crossorigin="anonymous")
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container 
      block header
        header
          img.logo(src="/images/icons/noborder_bagolypub_logo_sötét-25.svg" alt="logo")
          nav.nav
            each item in h.menu
              a.nav-item(href=item.href) #{item.title}
          .nav-menu 
            i.fa.fa-bars
      main
        block content

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
