doctype html
html(lang="hu")
  head
    title= `${title} | ${h.siteName}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    block head
      meta(name="description" content="Bagoly Pub - Az Aquincum új analóg chat szobája!")
  body
    .container 
      block header
        header
          a.logo--wrapper(href="/")
            img.logo(src="/images/icons/logo_dark.svg" alt="logo")
          .js-nav--wrapper
            div
              nav.nav
                block nav
                  each item, index in h.menu
                    a.js-nav--item.text__nav(href=item.slug, class=(index === h.menu.length - 1) ? 'nav--item__last' : '') #{item.title}
                  if user 
                    a.js-nav--item.text__nav(href="/admin") Admin
                    a.js-nav--item.text__nav(href="/logout") Kijelentkezés
          .js-nav--menu 
            i.fa.fa-bars
      block hero
      block messages
      if locals.flashes
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message 
                button.flash__remove(onClick="this.parentElement.remove()") &times;
      block content
        main
        
      footer
        .icons--wrapper
          a(href="https://www.facebook.com" target="_blank")
            i.icons.icons__light.fa-brands.fa-facebook-f
          a(href="https://www.instagram.com" target="_blank")
            i.icons.icons__light.fa-brands.fa-instagram
        .links--wrapper
          a.footer--text__link.text__small(href="/adatvedelem") Adatvédelmi Tájékoztató
          a.footer--text__link.text__small(href="/impresszum") Impresszum
        p.footer--text.text__small © 2024 Copyright Bagoly Pub


    block scripts
      script(src="/dist/App.bundle.js")
